#zoho{
    text-align: center;
    margin: 10%;
    color: aquamarine;
}
#img{
    float: right;
    margin-right: 40px;
    object-position: 40px;
    margin-top: 40px;
    width: 30%;
}
    

    



