body{
    background-image: url(/image/picture.jpeg);
    text-align: center;
}
 /* ,td, th{
    text-align: justify;
    padthding: 15px;
    font-size: medium;
    border-width: solid;
    border-collapse:collapse;
    border-style: groove;
    /* width: 25%;  */

#heading{
    color: chocolate;
}
table th,td{
    border:3;
    border-collapse: collapse;
}